body{
    display: flex;
    flex-direction: column;
}

header, footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.overall-user-controls{
    display: flex;
    justify-content: space-around;
}

.user-input-container{
    display: flex;
    gap: 10px;
}

.input-text-container{
    display: flex;
}

.input-container{
    display: flex;
}

input{
    max-width: 70px;
    padding: 2px;
}

.controls-container{
    display: flex;
    flex-direction: column;
}

.sketch-container{
    display:flex;
    justify-content: center;
    align-items: center;
}

