body{
    display: flex;
    flex-direction: column;
}

header, footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.overall-user-controls{
    display: flex;
    justify-content: space-around;
}

.user-input-container{
    display: flex;
    gap: 10px;
}

.input-text-container{
    display: flex;
}

.input-container{
    display: flex;
}

input{
    max-width: 70px;
    padding: 2px;
}

.controls-container{
    display: flex;
    flex-direction: column;
}

.over-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    flex-direction: column;
    gap: 20px;
}

.grid-container{
    display: flex;
    width: 500px;
    height: 500px;
    box-sizing: border-box;
    border: 2px solid black;
    flex-wrap: wrap;
}
#grid{
    border: 2px solid peru
}