body{
    display: flex;
    flex-direction: column;
}

header, footer{
    display: flex;
    justify-content: center;
    align-content: center;
}

.controls-container{
    display: flex;
    flex-direction: column;
}

.over-grid-container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 70px;
    flex-direction: column;
    gap: 20px;
}

.grid-container{
    display: flex;
    width: 750px;
    height: 750px;
    border: 2px solid black;
    flex: 0,0,auto;
    margin: 0px;
    padding: 0px;
}
#grid{
    display: flex;
    flex-wrap: wrap;
    flex: 0,0 auto;
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

.gridBox{
    box-sizing: border-box;
    display: flex;
    flex: 0, 0, auto;
}
